<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>您的浏览器实在是不给力啊~</title>
	</head>
	<body>
		<img src="/browser.png" style="display: block; width: 171px; height: auto; position: absolute; right: 50%; top: 50%; margin: -100px 140px;" />
		<p style="display: block; font-size: 20px; line-height: 40px; color: #999; width: 400px; position: absolute; left: 50%; top: 50%; margin: -100px -20px;"><span style="font-size: 30px; color: #00acff;">您的浏览器版本过低啦!</span><br />如果想使用作家后台，请将多核浏览器切换到极速模式，或者<a href="http://www.baidu.com/s?wd=Chrome" style="color: #00acff">下载</a>Chrome（推荐）</p>
	</body>
</html>
