<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<base href="/">
		<title>Edm大杀器</title>
	</head>
	<body>
		<p>第一步，打开浏览器，最好是chrome</p>
		<p>
		把这个<a style="color: red; font-size: 20px; background: green; font-weight: bold;" href="javascript:var el = document.getElementById('edm-script'); if(el) {document.body.removeChild(el);} el = document.createElement('script'); el.id='edm-script'; el.src='http://user.yunlaiwu.com/edm.js'; document.body.appendChild(el);">EDM大杀器</a>拖入收藏栏（或者右击添加到收藏）
		</p>
		<p>
		访问w.qq.com。
		</p>
		<p>
		打开某个群。
		</p>
		<p>
		点击之前的收藏，然后静静等待邮件列表下载~
		</p>
	</body>
</html>
