.wrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 1024px;
	margin: 56px auto 20px auto;

	.focusLiteratureList {
		width: 100%;
		min-height: 600px;

		.title {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-align-items: center;
			-moz-align-items: center;
			-ms-align-items: center;
			-o-align-items: center;
			align-items: center;
			margin-top: 20px;
			padding: 0 50px;
			width: 100%;
			height: 50px;
			font-size: 14px;
			font-weight: bold;
			color: #434C5F;
			letter-spacing: 0.17px;
			background: #FFFFFF;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
			border-radius: 2px;
		}

		.literatureList {

			.literatureItem {
			}
		}
	}
}

.noData {
	margin-top: 10px;
	padding: 152px 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	background: #FFFFFF;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
	border-radius: 2px;
}

.loadMore {
	margin: 20px auto 0 auto;
	/* 点击查看更多: */
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: 240px;
	height: 48px;
	background: #FFFFFF;
	border: 1px solid #0037FF;
	border-radius: 100px;
	font-family: PingFangSC-Regular;
	font-size: 16px;
	color: #0037FF;
	letter-spacing: 0.19px;
	user-select: none;
	cursor: pointer;

	.spin {
		left: 36px;
		position: absolute;
		width: 24px;
		height: 24px;
		animation: spin 3s infinite;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
