.wrapper {
	position: fixed;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	z-index: 999;

	.mask {
		position: fixed;
		left: 0;
		top: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background: rgba(0, 0, 0, 0.20);
	}
}

.passwordSetting {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;
	width: 380px;
	height: 532px;
	background: #FFFFFF;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.10);
	border-radius: 5px;

	.closeBtn {
		position: absolute;
		right: 20px;
		top: 20px;
		cursor: pointer;
	}

	.title {
		/* 密码设置: */
		margin-top: 50px;
		font-size: 36px;
		color: #0037FF;
		letter-spacing: 0;
	}

	.step {
		margin-top: 53px;
	}

	.row1, .row2 {
		position: relative;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		margin-top: 40px;
		width: 240px;

		.input, .inputAuthCode {
			font-size: 14px;
			letter-spacing: 0;
			width: 100%;

			&::placeholder {
				color: #D0D3D9;
			}
		}

		.inputAuthCode {
			width: 130px;
		}

		.getAuthCode {
			position: absolute;
			right: 0;
			color: #0037FF;
			// 按钮套装
			user-select: none;
			cursor: pointer;
			&:hover {
				opacity: 0.5;
			}
			&:active {
				opacity: 1;
			}
		}

		.authCodeResend {
			position: absolute;
			right: 0;
			color: #DBDBDB;
			letter-spacing: 0.19px;
			user-select: none;
		}
	}

	.hr, .hrActive {
		/* Rectangle 3: */
		margin-top: 10px;
		background: #D0D3D9;
		height: 1px;
		width: 240px;

		.errorTips {
			position: absolute;
			padding-top: 4px;
			font-size: 12px;
			color: #FF3B30;
		}
	}

	.hrActive {
		background: #0037FF;
	}

	.btn {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		margin-top: 56px;
		width: 240px;
		height: 48px;
		box-sizing: border-box;
		font-size: 16px;
		color: #0037FF;
		letter-spacing: 0;
		/* Rectangle Copy: */
		border: 1px solid #0037FF;
		border-radius: 4px;

		// 按钮套装
		user-select: none;
		cursor: pointer;
		&:hover {
			opacity: 0.5;
		}
		&:active {
			opacity: 1;
		}
	}

	.tips {
		/* 手机号已更换？重新绑定手机号: */
		font-size: 16px;
		color: #707070;
		letter-spacing: 0;
		margin-top: 35px;

		.rebind {
			color: #0037FF;
			user-select: none;
			cursor: pointer;
			&:hover {
				opacity: 0.5;
			}
			&:active {
				opacity: 1;
			}
		}
	}

	.successImg {
		margin-top: 71px;
	}

	.successTips {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		text-align: center;
		margin-top: 30px;
		/* 恭喜你！密码设置完成,请使用新密码登录: */
		width: 240px;
		font-size: 16px;
		color: #4A4A4A;
		letter-spacing: 0;
		line-height: 24px;
	}
}
