.wrapper {
	position: relative;
	width: 1060px;
	margin: 0 auto;
	padding: 60px 0;
	background: #fff;

	img {
		display: block;
		margin-bottom: 50px;
		width: 100%;
		height: auto;
	}

	p {
		font-size: 16px;
		padding: 10px 100px;
	}
}