.wrapper {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	-o-align-items: center;
	align-items: center;

	.left {
		height: 40px;
		position: absolute;
		top: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;

		.isMust {
			font-size: 14px;
			color: #FF3B30;
			letter-spacing: 0.15px;
		}

		.label {
			width: 120px;
			word-wrap: break-word; // 标签换行
			font-size: 14px;
			letter-spacing: 0.15px;
		}
	}

	.right {
		transition: 0.5s;
		margin-left: 137px;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		-o-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;

		.date {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;

			.dateItem {
				margin-right: 20px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}


