.avatarWrapper {
	display: inline-block;
	visibility: visible;
	position: relative;
	border-radius: 50%;
	border: 1px solid #DBDBDB;

	// 头像
	.avatar {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		border-radius: 50%;

		.avatarText {

		}
	}

	// 遮罩层
	.avatarMask {
		position: absolute;
		top: 0;
		left: 0;
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-justify-content: center;
		-moz-justify-content: center;
		-ms-justify-content: center;
		-o-justify-content: center;
		justify-content: center;
		-webkit-align-items: center;
		-moz-align-items: center;
		-ms-align-items: center;
		-o-align-items: center;
		align-items: center;
		background: rgba(185, 185, 185, 0.7);
		border-radius: 50%;

		.avatarMaskText {

		}
	}
}


